<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./hpTracker.js" rel="stylesheet" type="text/css" />
    <title>D&D Sheet Tracker</title>
    <link rel="icon" type="image/x-icon" href="./components/assets/favicon.png">
    
</head>
<body>
    
</body>
</html>
<div class="hp-tracker">
    <progress class="healthTracker" id="health" min="0" max="100" value="100"></progress>
   <button onclick="addHp()">Add Hp</button>
    <button onclick="loseHp()">Lose HP</button>
  </div>
